* { 
    padding: 0;
    margin: 0;
}
#menu ul {
    background-color: rgb(78, 75, 74);
    text-align: center;
    list-style-type: none;
}

#menu .navi {
    color: aliceblue;
    display: inline-block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    margin-left: -5;
}

#menu a {
    color: aliceblue;
    display: block;
    text-decoration: none;
}

#menu a:hover {
    background: rgb(160, 154, 152);
}

#subnav li {
    display: none;
}

#menu li {
    position: relative;
}

#menu li:hover .subnav {
    display: block;
}

.subnav {
    display: none;
    position: absolute;
}

.subnav li {
    margin-left: 0
}

#menu .subnav {
    background-color: rgb(116, 106, 103);
    text-align: center;
    list-style-type: none;
}

